<a href="https://colab.research.google.com/github/Divya-DataAnalystPortfolio/Python-Fundaments/blob/main/Python_Fundamentals_Data_Structures_List%2C_Dictionary%2C_Set_%26_Conditional_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python: Data Structures - List, Dictionary, Set & Conditional Statements**

**List (Creation, Modification and Access):**

1. List Creation:

In [ ]:
# a. Create a list named age_list with five integer elements. For eg., [24, 25, 26, 27, 28]

age_list = [24, 34, 56, 21, 42]
print(age_list)
print(type(age_list))

[24, 34, 56, 21, 42]
<class 'list'>

In [ ]:
# b. Create a list named name_list with five string elements.

name_list = ["Divya", "Yokesh", "Megha", "Hrithi", "Riyash"]
print(name_list)
print(type(name_list))

['Divya', 'Yokesh', 'Megha', 'Hrithi', 'Riyash']
<class 'list'>

2. List Operations / Modifications:

In [ ]:
# a. Append the string "Yazhini" to name_list.

name_list.append("Yazhini")
print(name_list)

['Divya', 'Yokesh', 'Megha', 'Hrithi', 'Riyash', 'Yazhini']

In [ ]:
# b. Insert the element 30 at index 2 in age_list.

age_list.insert(2, 30)
print(age_list)

[24, 34, 30, 56, 21, 42]

In [ ]:
# c. Remove the string "Yazhini" from name_list.

name_list.remove("Yazhini")
print(name_list)

['Divya', 'Yokesh', 'Megha', 'Hrithi', 'Riyash']

In [ ]:
# d. Pop the last element from age_list.

age_list.pop()
print(age_list)

[24, 34, 30, 56, 21]

In [ ]:
# e. Extend the age_list with additional ages [29, 30, 26].

age_list.extend([29, 30, 26])
print(age_list)

[24, 34, 30, 56, 21, 29, 30, 26]

In [ ]:
# f. Sort age_list in descending order.

age_list.sort(reverse = True)
print(age_list)

[56, 34, 30, 30, 29, 26, 24, 21]

In [ ]:
# g. Find Max age, Min age and sum of all ages from age_list.

print(f"Maximum age in the list: {max(age_list)}\nMinimum age in the list: {min(age_list)}\nSum of all ages in the list: {sum(age_list)}")

Maximum age in the list: 56
Minimum age in the list: 21
Sum of all ages in the list: 250

3. Accessing List Elements:

In [ ]:
# a. Print the first element of name_list.

print(f"First element in the name_list: {name_list[0]}")

First element in the name_list: Divya

In [ ]:
# b. Print the last element of name_list.

print(f"Last element in the list: {name_list[-1]}")

Last element in the list: Riyash

In [ ]:
# c. Print the elements from index 2 to index 4 in name_list.

print(f"Elements from index 2 to 4 in name_list: {name_list[2:5]}")

Elements from index 2 to 4 in name_list: ['Megha', 'Hrithi', 'Riyash']

In [ ]:
# d. Print the elements of name_list in reverse order.

print(f"Elements of name_list in reverse order: {name_list[::-1]}")

Elements of name_list in reverse order: ['Riyash', 'Hrithi', 'Megha', 'Yokesh', 'Divya']

**Dictionary (Creation, Modification and Access):**

In [ ]:
# a. Create a dictionary named student_marks that maps the names of five students to their marks (use scale of from 0 to 100).

student_marks = {
    "Divya":89,
    "Yokesh":90,
    "Megha":100,
    "Hrithi":50,
    "Riyash":21
}

print(student_marks)

{'Divya': 89, 'Yokesh': 90, 'Megha': 100, 'Hrithi': 50, 'Riyash': 21}

In [ ]:
# b. Access and print the mark of a specific student, of your choice.

print(f"Mark of Divya: {student_marks['Divya']}")

Mark of Divya: 89

In [ ]:
# c. Add a new student "Janani" with a mark of 80 to the student_marks dictionary.

student_marks["Janani"]=80
print(student_marks)

{'Divya': 89, 'Yokesh': 90, 'Megha': 100, 'Hrithi': 50, 'Riyash': 21, 'Janani': 80}

In [ ]:
# d. Update the mark of any one older student to 82.

student_marks["Divya"] = 82
print(student_marks)

{'Divya': 82, 'Yokesh': 90, 'Megha': 100, 'Hrithi': 50, 'Riyash': 21, 'Janani': 80}

In [ ]:
# e. Use the keys(), values(), and items() methods to print all keys, values, and key-value pairs in the student_marks dictionary.

print("Keys:")
print(student_marks.keys())

print("\nValues:")
print(student_marks.values())

print("\nKey-Value Pairs:")
print(student_marks.items())

Keys:
dict_keys(['Divya', 'Yokesh', 'Megha', 'Hrithi', 'Riyash', 'Janani'])

Values:
dict_values([82, 90, 100, 50, 21, 80])

Key-Value Pairs:
dict_items([('Divya', 82), ('Yokesh', 90), ('Megha', 100), ('Hrithi', 50), ('Riyash', 21), ('Janani', 80)])

**Sets (Operations)**

In [ ]:
# a. Create a set called my_set with following values:
# ['a','e','i','o','u','a','a','i']
# Analyse the output and provide explanation for the same.

my_set = {'a','e','i','o','u','a','a','i'}
print(my_set)
print(type(my_set))

{'u', 'o', 'e', 'i', 'a'}
<class 'set'>

In [ ]:
# b. Attempt to change the value of my_set[4] = 's'. If code throws an error, provide an explanation.

my_set[4] = 's'
print(my_set)

TypeError: 'set' object does not support item assignment

In [ ]:
# c. Create two sets:
# set1 with values: {1, 3, 5, 7, 9}
# set2 with values: {2, 3, 5, 8, 10}

set1 = {1, 3, 5, 7, 9}
set2 = {2, 3, 5, 8, 10}

print(set1)
print(set2)

{1, 3, 5, 7, 9}
{2, 3, 5, 8, 10}

In [ ]:
# d. Compute and print the union and intersection of set1 and set2.

union = set1.union(set2)
intersection = set1.intersection(set2)

print(f"Union of Set1 and Set2: {union}")
print(f"Intersection of Set1 and Set2: {intersection}")

Union of Set1 and Set2: {1, 2, 3, 5, 7, 8, 9, 10}
Intersection of Set1 and Set2: {3, 5}

**Operators & Conditional Statements :**

(IF, ELIF, ELSE)

Performance Category Program:

In [ ]:
# 1. Prompt user for Input. Score range should be from 0 to 10 (both inclusive).

num = int(input("Enter the score: "))

if num in range(0,11):
  print("Your score is valid")
else:
  print("Your score is invalid")

Enter the score: 11
Your score is invalid

In [ ]:
''' 2. Find the performance category based on the input score using following criteria:
a. Above Average: Score greater than 7
b. Average: Score between 4 and 7(both inclusive)
c. Below Average: Score lesser than 4 '''

score = int(input("Enter your score: "))
if score > 7:
  print("Above Average")
  print("Great job! Your performance is above average. Keep up the good work.")
elif score in range(4, 8):
  print("Average")
  print("Your performance is average. With a little more effort, you can improve further.")
else:
  print("Below Average")
  print("Need to improve your performance. Consistent practice will lead to better results.")

Enter your score: 5
Average
Your performance is average. With a little more effort, you can improve further.